<!-- home.component.html -->
<div class="flex flex-col items-center justify-center h-screen bg-gray-800">
  <div class="bg-gray-700 p-8 rounded-lg shadow-lg text-white text-center relative">
    <h1 class="text-5xl font-extrabold mb-4">Generador y Visor de Códigos QR</h1>

    <!-- Botones para las pestañas -->
    <div class="flex justify-center mb-4">
      <button
        class="bg-gray-600 hover:bg-gray-700 text-gray-300 py-3 px-6 rounded-full mr-4 transition duration-300 shadow-md"
        (click)="mostrarCrear()">Crear</button>
      <button
        class="bg-gray-600 hover.bg-gray-700 text-gray-300 py-3 px-6 rounded-full mr-4 transition duration-300 shadow-md"
        (click)="mostrarLeerQR()">Leer QR desde cámara</button>
      <button
        class="bg-gray-600 hover:bg-gray-700 text-gray-300 py-3 px-6 rounded-full transition duration-300 shadow-md"
        (click)="mostrarLeerImagen()">Leer QR desde imagen</button>
    </div>

    <!-- Mostrar u ocultar componentes según la opción seleccionada -->
    <app-create *ngIf="mostrarCrearComponente"></app-create>
    <app-lector *ngIf="mostrarLeerQRComponente"></app-lector>
    <app-imagen *ngIf="mostrarLeerImagenComponente"></app-imagen>
  </div>
</div>
